.leftPush{
    margin-left: 20px;
}

.carousel-item{
  height: 500px;
}

.navbar-fixed-top { 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999; 
  width: 100%; 
  height: 50px; 
  background-color: #ffffff; 
}


.logo{
    margin-left: 15px;
}

p{
    line-height: 2;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.push{
    margin-left: 10px;
    color: #000;
}

.push :hover{
    color: #04ff00;
}

.contact :hover{
  color: #04ff00;
}

.campName{
  margin: 0 0 0 0 ;
}

.class-detail-text{
  margin-top: 0;
}

.push-center{
    margin-left: 215px;
}

.name{
    margin-left: 125px;
}

.top{
    margin-top: 50px;
}

.navbar{
  margin-bottom: 6px;
}

body {
    font-family: Arial, sans-serif;
  }
  
  .booking-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label, input, select {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
